VITE_SITE_URL=https://portfolio.janngo.agency
VITE_CONTACT_EMAIL=oury.diallo@janngo.agency
VITE_LINKEDIN_URL=https://www.linkedin.com/in/ourymajor
VITE_MEDIA_BASE_URL=https://pub-7d09f1f6935e4fd6aafb1dd4001bbe14.r2.dev
VITE_R2_PUBLIC_BASE_URL=https://pub-7d09f1f6935e4fd6aafb1dd4001bbe14.r2.dev
VITE_WHATSAPP_URL=
VITE_X_URL=https://x.com/PriinceMajor
